<nav class="navbar-app">
  <div class="container">
      <ul class="menuBar">
       <li class="menuItem"> <a routerLink="./search" routerLinkActive="active" >Search</a></li>
       <li class="menuItem"> <a routerLink="./questions" routerLinkActive="active" >Questions</a></li>
       <li class="menuItem"> <a routerLink="./tags" routerLinkActive="active" >Tags</a></li>
       <li class="menuItem"> <a routerLink="./askquestion" routerLinkActive="active" >Ask Question</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>  
