
<div class="questionContainer">
  <ul class="list-unstyled">
  <li class="questionListItem" *ngFor="let question of questions">
    <div class="container">
      <div class="row">
       <div class="col-md-3">
         <div class="row">
              <div class="col-md-6 votesColor">
                {{question.question_upvotes - question.question_downvotes}}
              </div>  
                <div class="col-md-6 likesColor">
                {{question.question_downvotes}}
              </div>  
         </div>  
          <div class="row">
           <div class="col-md-6 votesColor">
                votes
              </div>  
                <div class="col-md-6 likesColor">
                answers
              </div>  
         </div>  
       </div> 
          <div class="col-md-9">
            <div class="row">
              <h4>
                <a  (click)="onSelect(question)">
                  {{question.question_title}}
                </a>
              </h4>
           </div>   
           <div class="row">
                <span class="tag" *ngFor="let tag of question.tags"> {{tag.tagName}}</span> 
           </div>  
       </div> 
      </div>
    </div>  
  </li>
 
</ul>  
</div>  
